{{#if Success_msg}}
  <div class='alert alert-success'>{{Success_msg}}</div>
{{/if}}

{{#if Error_msg}}
  <div class='alert alert-danger'>{{Error_msg}}</div>
{{/if}}

{{#if Info_msg}}
  <div class='alert alert-info'>{{Info_msg}}</div>
{{/if}}

{{#if (isLoadingEnabled Loading)}}
  <div class='loadingStart loadingStart'>

    <div class='box'></div>
  </div>

{{/if}}