<div id='navbar'>
  <a class='logo' href='/'>
    <div>Admin<div class='dotcom'>.com</div></div>
  </a>
  <ul class='menuItems'>
    <li id='homeLink'><a href='/'>Home</a></li>
    <li><a href='/logout'>Log Out</a></li>
    <div><a href='/profile/{{req.params.id}}'><img
          src='../images/profileImage.png'
          width='50px'
          height='50px'
        /></a></div>
  </ul>

  <ul class='mobileIcon'>
    <div class='mobileIcon'>

      <i class='fa-solid fa-bars'></i>

    </div>

  </ul>

</div>