<div id='navbar'>
  <a class="logo"  href="/">
    <div>PJ<div class="dotcom">.com</div></div>
  </a>
  <ul class="menuItems">
   
{{#if Success_msg}}
<div>{{Success_msg}}</div>
{{/if}}
<div>ok</div>
      <li id='homeLink'><a href='/back-end/home'>Home</a></li>

    

    <li><a href='/back-end/logout'>Log Out</a></li>
   
    <li><a href='http://localhost:5900/register'>Sign up</a></li>
  </ul>
</div>