<div id='navbar'>
  <a class='logo' href='/home'>
    <div>Admin<div class='dotcom'>.com</div></div>
  </a>
  <form action='/get-product-list' method='POST' class='navbarSearchDiv'>

    {{#if listProduct}}
      <input
        class='searchProductInput'
        type='text'
        name='filter'
        placeholder='Search by Name'
        value='{{filterValue}}'
      />
      <button class='searchButtonNav'>Search</button>
    {{/if}}
  </form>

  <ul class='menuItems'>

    {{#if user_info}}
      <h4 style='text-transform: capitalize; color:white'>Hi
        {{user_info.name}}</h4>
    {{/if}}
    <li id='homeLink'><a href='/home'>Home</a></li>
    {{#if user_info}}
      <li><a href='/logout'>Log Out</a></li>
    {{/if}}
    {{#if user_info}}

      <li id='homeLink'><a href='/profile/{{user_info._id}}'>Profile</a></li>
    {{/if}}
  </ul>

  <ul class='mobileIcon' id='pjm' onclick='toggleMenu()'>
    <div class='mobileIcon' id='toggleButtonNav'>

      <i class='fa-solid fa-bars'></i>
    </div>

  </ul>
  <ul
    id='menuContent'
    style='top:57px; list-style: none;  display: none;  min-height:100px ;width:200px; position: absolute ; background-color: white; border:1px solid black; right:0 ;text-decoration: none;'
  >

    <li
      id='homeLink'
      style='text-decoration: none;border:1px solid black; margin-top: 10px;      width: 50%;
    margin: 16px auto; text-align: center; background: gold; border-radius: 6px;'
    ><a href='/home' style='text-decoration: none;'>Home</a></li>

    {{#if user_info}}

      <li
        id='homeLink'
        style='text-decoration: none;border:1px solid black; margin-top: 10px;      width: 50%;
    margin: 16px auto; text-align: center;background: gold; border-radius: 6px;'
      ><a
          style='text-decoration: none;padding: 5px;'
          href='/profile/{{user_info._id}}'
        >Profile</a></li>
    {{/if}}
    {{#if user_info}}
      <li
        style='text-decoration: none;border:1px solid black; margin-top: 10px;      width: 50%;
    margin: 16px auto;  text-align: center;background: gold; border-radius: 6px;'
      ><a href='/logout' style='text-decoration: none;padding: 5px;'>Log Out</a></li>
    {{/if}}

  </ul>

</div>