<div id='navbar'>
  <a class='logo' href='/'>
    <div>Admin<div class='dotcom'>.com</div></div>
  </a>
  <ul class='menuItems'>
    <li id='homeLink'><a href='/'>Home</a></li>
    <li><a href='/logout'>Log Out</a></li>
    <li><a href='http://localhost:5900/register'>Sign up</a></li>
  </ul>

  <ul class='mobileIcon'>
    <div class='mobileIcon'>

      <i class='fa-solid fa-bars'></i>

    </div>

  </ul>

</div>
