<div id='navbar'>
  <a class='logo' href='/home'>
    <div>Admin<div class='dotcom'>.com</div></div>
  </a>
  <form action='/get-product-list' method='POST' class='navbarSearchDiv'>

    {{#if listProduct}}
      <input
        class='searchProductInput'
        type='text'
        name='filter'
        placeholder='Search by Name,Price,_id '
        value='{{filterValue}}'
      />
      <button class='searchButtonNav'>Search</button>
    {{/if}}
  </form>

  <ul class='menuItems'>

    {{#if user_info}}
      <h4 style='text-transform: capitalize; color:white'>Hi
        {{user_info.name}}</h4>
    {{/if}}
    <li id='homeLink'><a href='/home'>Home</a></li>
    {{#if user_info}}
      <li><a href='/logout'>Log Out</a></li>
    {{/if}}
    {{#if user_info}}

      <li id='homeLink'><a href='/profile/{{user_info._id}}'>Profile</a></li>
    {{/if}}
  </ul>

  <ul class='mobileIcon'>
    <div class='mobileIcon'>

      <i class='fa-solid fa-bars'></i>

    </div>

  </ul>

</div>