<div id="sidebar">
  <div class="toggle-btn" onclick="toggleSidebar(this)">
<i class="fa-solid fa-caret-left"></i>  </div>  
  <div class="list">
    <div class="item"><a href="/back-end/get-all-user" >list of users</a></div>
   {{!-- <div class="item"><a href="/back-end/get-all-user" >create user</a></div> --}}
 
    <div class="item"><a href="/back-end/create-product">Create Product</a></div>
    <div class="item"><a href="/back-end/get-product-list">List of product</a></div>
 
 </div>
</div>