<div id="sidebar">
  <div class="toggle-btn" onclick="toggleSidebar(this)">
    <i class="fa-solid fa-caret-left"></i>
  </div>
  <div class="list">
    <div class="item">

      <i class="fa-solid fa-user"></i>
      <a href="/profile/{{user_info._id}}">
        MY Profile</a></div>
    <div class="item">

      <i class="fa-solid fa-address-book"></i>
      <a href="/get-all-user">

        All User List</a></div>

    {{!-- {{#eq user_info.role 'Super-Admin'}}
      <div class='item'><a href='/get-all-user'>List of Users</a></div>

    {{/eq}} --}}
    <div class="item">

      <i class="fa-solid fa-circle-plus"></i>
      <a href="/create-product">

        Create Product</a></div>
    <div class="item">
      <i class="fa-solid fa-cart-plus"></i><a href="/get-product-list">List of
        product</a></div>
    {{! <div class='item'><a href=''> Customer Management</a></div>
    <div class='item'><a href=''>Help and Support</a></div> }}

    <div class="item"><i class="fa-solid fa-right-from-bracket"></i><a
        href="/logout"
      >Logout</a></div>

  </div>
</div>