<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Online E-Commerce</title>
    <link rel='stylesheet' href='../../css/global.css' />
        <link rel="stylesheet" href="../../css/{{style}}">
    </head>
  <body>

<section id="firstParent">

  {{>_navbar}}
  <div id="mainBody">


    {{{body}}}
  </div>
  
</section>
  </body>
  <script src="../../js/script.js"></script>
</html>