<section class="page_404">
	<div class="container_404">
			<div class="four_zero_four_bg">


			<h1 class="text-center ">Page not Found</h1>
		</div>
		
			<h2 class="h2">
		Look like you're lost
		</h2>
		
		<p>the page you are looking for not available!(404 Error)</p>
		
		<a href="/login" class="link_404">Go to Home</a>
		</div>
		</div>
	</div>
</section>