<head>
  <link rel='stylesheet' href='../../css/home.css' />

</head>
<section id='homePage'>
  {{! <main class='centerMenu'>
    <table class='userHome'>
      <thead>
        <tr><th><h1>Product Report</h1></th></tr>
        <tr></tr>
      </thead>
      <tbody>
        <tr><td>Total Product:</td><td>100</td></tr>
        <tr><td> Total Product Sold in a week: </td><td>40</td></tr>
        <tr><td>
            Total Product Sold in a Day:</td><td>100</td></tr>
        <tr><td> Total Product Sold in a month: </td><td>40</td></tr>
        <tr><td>

            Total Product in stock:</td><td>100</td></tr>
        <tr><td>
            Total Product out of stock:
          </td><td>40</td></tr>

      </tbody>
    </table>

  </main>
  <aside class='sideMenu'>

    <table class='userHome'>
      <thead>
        <tr><th><h1>Admin Report</h1></th></tr>
        <tr></tr>
      </thead>
      <tbody>
        <tr><td> Total No Of Users: </td><td>100</td></tr>
        <tr><td> Total No Of Admin: </td><td>40</td></tr>

      </tbody>
    </table>

  </aside> }}
  <canvas id='myChart' style='width:100%;max-width:700px'></canvas>

  <div id='piechart'></div>
</section>

<script>
  const xValues =
  {{{json xValues}}}; const yValues =
  {{{json yValues}}}; const barColors =
  {{{json barColors}}}; new Chart("myChart", { type: "bar", data: { labels:
  xValues, datasets: [{ backgroundColor: barColors, data: yValues }] }, options:
  { legend: { display: false }, title: { display: true, text: `Number of Product
  V/S Product Category` }, } });
</script>
<script type='text/javascript'>
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart); function drawChart() { var data =
  google.visualization.arrayToDataTable({{{json userVal}}}); var options =
  {'title':'Number of Users', 'width':"100%", 'height':"100%"}; var chart = new
  google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options); }
</script>