<section id='homePage'>
  <aside class='sideMenu'>

    {{! <ol>

      <li>

        Total No Of Admin:
      </li>
    </ol> }}
    <table>
      <thead>
        <tr><th><h1>Users</h1></th></tr>
        <tr></tr>
      </thead>
      <tbody>
        <tr><td> Total No Of Users: </td><td>100</td></tr>
        <tr><td> Total No Of Admin: </td><td>40</td></tr>

      </tbody>
    </table>
  </aside>
  <main class='centerMenu'>
    <h1>Analysis</h1>
    <ol>
      <li>

        Total Category: (5)
        <select name='cars' id='cars'>
          <option value='volvo'>Volvo</option>
          <option value='saab'>Saab</option>
          <option value='mercedes'>Mercedes</option>
          <option value='audi'>Audi</option>
        </select>
      </li>
      <li>

        Total Product:

      </li>
      <li>

        Total Product Sold in a week:

      </li>

      <li>

        Total Product Sold in a Day:

      </li>

      <li>

        Total Product Sold in a month:

      </li>
      <li>

        Total Product in stock:

      </li>
      <li>

        Total Product out of stock:

      </li>

      <li>

        Top Selling Product :

      </li>
    </ol>

  </main>
</section>