<section id='homePage'>
  <main class='centerMenu'>
    <table class='userHome'>
      <thead>
        <tr><th><h1>Product Report</h1></th></tr>
        <tr></tr>
      </thead>
      <tbody>
        <tr><td>Total Product:</td><td>100</td></tr>
        <tr><td> Total Product Sold in a week: </td><td>40</td></tr>
        <tr><td>
            Total Product Sold in a Day:</td><td>100</td></tr>
        <tr><td> Total Product Sold in a month: </td><td>40</td></tr>
        <tr><td>

            Total Product in stock:</td><td>100</td></tr>
        <tr><td>
            Total Product out of stock:
          </td><td>40</td></tr>

      </tbody>
    </table>

  </main>
  <aside class='sideMenu'>

    <table class='userHome'>
      <thead>
        <tr><th><h1>Admin Report</h1></th></tr>
        <tr></tr>
      </thead>
      <tbody>
        <tr><td> Total No Of Users: </td><td>100</td></tr>
        <tr><td> Total No Of Admin: </td><td>40</td></tr>

      </tbody>
    </table>

  </aside>

</section>