<section id="homePage">
<aside class="sideMenu">

  <ol><li><a href="">Create Product</a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li></ol>
  <li><a href=""></a></li></ol>

  <li><a href=""></a></li></ol>

</aside>
<main class="centerMenu"></main>
</section>