#createProductContainer {
  padding: 10px;
}

.formContainer > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  margin-bottom: 10px;
  align-items: end;
  justify-content: center;
  border: 1px solid black;
  background-color: white;
  padding: 5px;
}
.formContainer > div > div > label {
  width: 20%;
  /* color: yellow; */
  font-size: large;
  font-weight: bold;
}
.formContainer > div > div {
  border: 1px solid black;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: lightblue;
  display: flex;
}
.formContainer > h1 {
  text-align: center;
  width: 100%;
}
.formContainer {
  width: 90%;
  margin: 0 auto;
  background-color: lightblue;
  padding: 10px;
  border-radius: 10px;

  /* margin: ; */
}
.inputFieldTextAreaDiv > label {
  font-weight: bold;
}
.inputFieldTextAreaDiv {
  border: 6px solid white;

  margin: 0 auto;
  padding: 10px;
  align-items: center;
  background-color: lightblue;
  display: flex;
  gap: 10px;
  grid-template-columns: auto 90%;
}
.inputFieldTextArea {
  height: 100px;
  width: 100%;

  padding: 0 20px;
}
.inputField {
  padding: 5px;
  width: 90%;

  border-radius: 4px;
  border: 1px;
}
.createProductButton {
  padding: 5px;
  width: 46%;
  margin: 10px 27%;
  height: 40px;
  border-radius: 8px;
}
