.tableConatiner {
  width: 100%;
}
.tableHeadContainer > tr {
  /* display: flex; */
}
.tableHeadContainer > tr > th {
  border: 1px solid black;
  color: white;
  padding: 10px;
  background-color: gray;
  /* display: flex; */
}
.tableBodyContianer > tr > td {
  border: 1px solid;
  text-align: center;
  width: 25%;
}

.tableBodyContianer > tr > td > img {
  max-width: 100px;
  padding: 10px;
}

.tableBodyContianer > tr > td > a {
  text-decoration: none;
  border: 1px solid;
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 7px;
  width: 100%;
}
#deleteAnker {
  background-color: red;
}

@media (0<width<700px) {
  #actionButton {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    min-height: 103px;
    justify-content: center;
    padding: 6px;
  }

  .tableBodyContianer > tr > td > a {
    padding: 0;
  }
}
