* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  width: 100%;
  /* position: fixed; */
  z-index: 1000;
  height: 12vh;
  padding: 20px;
  background-color: #ebebff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 10p; */
}

@media only screen and (max-width: 600px) {
  /* Styles specific to screens smaller than 600 pixels */
  #navbar {
    width: 100%;
    border-radius: 0px;
  }
}
.menuItems {
  display: flex;
  gap: 10px;
}
.menuItems > li {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;
  box-shadow: 0 5px 15px rgba(44, 44, 44, 0.5);

  background-color: black;
  color: white;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.menuItems > li:hover {
  background: white;
  color: black;
  box-shadow: 0 5px 15px rgb(255, 255, 255);
  cursor: pointer;
}
.menuItems > li {
  list-style: none;
  padding: 10px;
}
.menuItems > li > a {
  text-decoration: none;
  color: white;
}
.menuItems > li > a :hover {
  color: black;
}

.logoButton {
  background-color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
}
