* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#firstParent {
  height: 85vh;
}
#mainBody {
  position: relative;
  top: 70px;
}
#navbar {
  width: 100%;
  display: flex;
  position: relative;
  z-index: 30;
  align-items: center;
  justify-content: space-between;
  background-color: burlywood;
  padding: 0 10px;
  position: fixed;
  height: 70px;
}
.logo {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: none;
  text-decoration: none;
  cursor: pointer;

  border: 1px solid black;
}
.logo > div {
  display: flex;
  gap: 3px;
}
.dotcom {
  background-color: black;
  color: white;
  padding: 0 3px;
  border-radius: 4px;
}
.menuItems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 0;
}
.menuItems > li:hover {
  background-color: #838383;
}
.menuItems > li {
  list-style: none;
  color: black;
  padding: 10px;
  /* background-color: ; */
  border-radius: 4px;
  background-color: lightblue;
}
.menuItems > li:hover {
  color: rgb(171, 171, 171);
}
.menuItems > li > a {
  text-decoration: none;
  color: white;
}

/*======================
    404 page
=======================*/

.page_404 {
  /* padding:40px 0;  */
  height: 100%;
  background: #fff;
  font-family: 'Arvo', serif;
}

.container_404 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container_404 > h1 {
  text-align: center;
}
.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 100%;
  width: 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}

/* Side bar css start */
#sidebar {
  position: fixed;
  z-index: 5;
  top: 70px;
  left: 0px;
  width: 200px;
  height: 100%;

  background: #858585;
  transition: all 300ms linear;
}
#sidebar.active {
  left: -200px;
}
#sidebar .toggle-btn {
  position: absolute;
  left: 220px;
  top: 10px;
}
#sidebar .toggle-btn {
  display: block;
  width: 30px;
  height: 5px;
  /* background:#151719; */
  margin: 5px 0px;
  cursor: pointer;
}

#sidebar div.list div.item {
  padding: 15px 10px;
  border-bottom: 1px solid #444;
  color: #fcfcfc;
  text-transform: uppercase;
  font-size: 12px;
}

#sidebar div.list div.item a {
  color: #fcfcfc;
  text-decoration: none;
}
/*     alert message start  */
.alert {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 10;
  right: 0;
  color: white;
  top: 80px;
  text-align: center;
}

.alert-success {
  background-color: lightgreen;
  border: 1px solid green;
  color: white !important;
  font-weight: 800 !important;
}

.alert-danger {
  background-color: red;
  border: 1px solid red;
  color: white !important;
  font-weight: 600 !important;
}

.alert-info {
  background-color: lightblue;
  border: 1px solid blue;
  color: white !important;
}
/*     alert message ends here  */
#FormError {
  font-size: 15px;
  color: red;
}

.testData > h4 {
  font-weight: 200;
}

.warnMessage {
  position: absolute;
}

.mobileIcon {
  display: none;
}

@media (0<width<900px) {
  .menuItems {
    display: none;
  }
  .mobileIcon {
    display: block;
  }
}
/* Spinner loading css */

.loadingStart {
  background-color: rgb(207, 207, 207);
  height: 100vh;
  opacity: 0.6;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
}
.box {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid;
  border-color: black transparent;
  animation: spin 1s infinite ease-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
