#homePage {
  display: flex;
}
@media (0<width<700px) {
  #homePage {
    flex-direction: column;
  }
}

#homePage > canvas,
#homePage > div {
  /* width: 50% !important; */
  padding: 20px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
@media (0<width<700px) {
  #homePage > main {
    width: 100%;
  }

  #homePage > aside {
    width: 100%;
  }
}

.userHome {
  border: 1px solid black;
  width: 100%;
  margin: 20px;
}
@media (0<width<700px) {
  .userHome {
    margin: 0px;
  }
}
.userHome > thead {
  border: 1px solid black;
  width: 100%;
}
.userHome > tbody {
  border: 1px solid blue;
  width: 100%;
}
.userHome > tbody > tr > td {
  border: 1px solid blue;
  padding: 10px;
}
