<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Role</th>
  </tr>
  {{#each AllUserData}}
    <tr>
      <td>{{name}}</td>
      <td>{{email}}</td>
      <td>{{phone}}</td>
      <td>{{role}}</td>
    </tr>
  {{/each}}
</table>