<section class="loginPage">

  <form
    action="/back-end/login/"
    method="post"
    {{!-- enctype="multipart/form-data" --}}
  >
    <div class="wrapper">
      <h1>Log In</h1>
      <div class="inputBlockContainer">
        <label for="email">Email</label>
        <input type="text" name="email" />
        <span class="icon"><i class="fa-solid fa-user"></i></sapn>
        
      </div>
      <div class="inputBlockContainer">
        <label for="password">Password</label>
        <input type="password" name="password" />
        <span class="icon"><i class="fa-solid fa-lock"></i></span>
      </div>
    
    
      </div>
      <button>Submit</button>
      <div class="login-register">
          </div>
      
    </div>
  </form>
</section>