<section id="loginPage">
  <div class="wave-background"></div>
  <form
    action="/back-end/login/"
    method="post"
    class="loginForm"
    {{!-- enctype="multipart/form-data" --}}
  >
        <h1>Log In</h1>
      <div class="loginInput">
       
        <input type="text" name="email" placeholder="Email"/>
             
        <input type="password" name="password" placeholder="Password"/>
      </div>

      
    
    
    
     
    <div class="demo">

    <h6>demo login:pramodjm4@gmail.com</h6>
    <h6>demo password:pramod123</h6>
    </div> 
      <button class="loginButton">Submit</button>
  </form>
</section>