<section id="loginPage">
  <div class="wave-background"></div>
  <form
    action="/login/"
    method="post"
    class="loginForm"
    {{!-- enctype="multipart/form-data" --}}
  >
        <h1>Log In</h1>
      <div class="loginInput">
       
        <input type="text" name="email" placeholder="Email" required/>
             
        <input type="password" name="password" placeholder="Password" required/>
      </div>

      
    
    
    
     
    <div class="demo">
<div class="testData">

    <h4>Test login: <b> pramodjm4@gmail.com</b> </h4>
    <h4>Test password: <b>Pramod@123</b></h4>
</div>
    </div> 
      <button class="loginButton">Submit</button>
  </form>
</section>