<form action='/api/reset-password/{{id}}/{{token}}' method='post'>
  <h2>Reset password for email : {{payload.email}} </h2>
  <div class='inputBlockContainer'>
    <label for='enterPassword'>Enter Password</label>
    <input type='password' name='enterPassword' />
    <span class='icon'><i class='fa-solid fa-user'></i></span>

  </div>
  <div class='inputBlockContainer'>
    <label for='reEnterPassword'>re-enter Password</label>
    <input type='password' name='reEnterPassword' />
    <span class='icon'><i class='fa-solid fa-user'></i></span>

  </div>
  <button>Reset </button>
</form>